@import "../../styles/colors.scss";
@import "../../styles/functions.scss";

.service-container{
    margin-top: 80px;
    min-height: 400px;
    background-color: $white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 20px 140px;
}
