@import "../../styles/colors.scss";

:root {
    --primary: $yellow;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: $blue-dark;
    color: $white;
    transition: 250ms;
}



.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: $white;
}

.btn--medium.btn--primary{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: $blue-dark;
    
    &:hover{
        padding: 8px 20px;
        transition: all 0.3s ease-out;
        background: $blue-dark;
        color: $white;
        transition: 500ms;
    }
}

.btn-large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: $blue-dark;
}

.btn--primary {
    background-color: $yellow;
    text-decoration-color: $blue-dark;
}

.btn--outline {
    background-color: transparent;
    text-decoration-color: $white;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid $yellow;
    transition: all 0.3s ease-out;
}