$blue: #005eff;
$blue-dark: #003aaf;
$blue-black: #002163;
$blue-light: #00a2ff;

$yellow: #fff564;
$yellow-dark: #f1dc1c;
$yellow-light: #fff490;

$white: #ffffff;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;